<!DOCTYPE html>
<html>
  <head>
    <%- include('head'); -%>
  </head>
  <body>
    <h1>Welcome to Bouncy Chat!</h1>
    <div>
      <input id="roomid" placeholder="bananasundae" />
      <button id="loadroom">Create</button>
    </div>

    <div id="active-chatrooms">
      <h2>Active Rooms</h2>
      <% rooms.forEach((room) => { %>
      <div>
	<a href="/<%= room %>"><%= room.name %></a>
      </div>
      <% }) %>
    </div>

    <script src="main.js"></script>
  </body>
</html>
