body {
    background-color: lightblue;
    font-family: Arial;
}

/* Front page styling */



/* Chatroom styling */

.boxes {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
}

.sidebar {
    max-width: 200px;
    padding: 0px 20px;
}

.sidebar #logo {
    width: 100px;
}

#chatbox {
    font-size: 1.5em;
    width: 100%;
    margin: auto;

    overflow: auto;
    height: 90vh;
}

#chatbox div {
    margin: 0px;
    padding: 5px;
}

#chatbox div p {
    display: inline;
    margin: 0px;
    padding: 0px;
}

#chatbox div span {
    font-weight: bold;
}

#chatbox div span::after {
    content: ': ';
}

#message-text {
    width: 90%;
    margin: auto;
    /*display: inline-block;*/
    padding: 15px;
    font-size: 1.2em;
    /*background-color: darkblue;*/
    background-color: #317ECC;
    color: white;
    border: none;
    border-radius: 5px;
}

input[type=text]::placeholder {
    color: lightgray;
}

#send-message {
    font-size: 1.3em;
    padding: 10px 20px;
}

.message-date {
    color: gray;
    float: right;
}

.leave a {
    text-decoration: none;
    background-color: #317ECC;
    color:white;
    padding: 10px;
    border-radius: 5px;
    border-color: black;
}

.leave a:hover {
    transition: 0.4s;
    background-color: #0f4f8f;
}

.leave {
    text-align: center;
}
